<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Articles | Videos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="filters.js"></script>
</head>
<body data-ng-app="art-vid-widget">
    <article class="tabbed-list-widget" data-ng-controller="MainCtrl">
      <div class="tab-menu-container">
          <div class="tab-menu">
            <li data-ng-click="changeTab(1)" data-ng-class="{ active: checkTab(1)}">Articles</li>
			<li data-ng-click="changeTab(2)" data-ng-class="{ active: checkTab(2)}">Videos</li>
          </div>
      </div>
	  <div id="red-rectangle"></div>
      <div class="list-container">
          <div class="list">
			  <a data-ng-repeat="video in storage.videos" href="#">
				  <li data-ng-style="listBkgrd(video)" class="list-element">
					  <div><span class="list-number">{{$index}}</span><span class="title-bold">{{video.metadata.name}}</span><span class="time-number">{{video.metadata.duration}}</span></div>
					  <div><span class="title-grey">{{video.metadata.longTitle}}</span></div>
				  </li>
			  </a>
          </div>
      </div>
		<button data-ng-click="print()">get data</button>
    </article>
</body>
</html>