*{
    box-sizing: border-box;/*reset page*/
}
body {
  margin: 0;/*reset page*/
  font-family: "Open Sans";
  margin-top: 40px;
  background:#000;
}
.vert-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tabbed-list-widget /* the whole thing*/ {
  position:relative;
  width: 400px;
  margin:auto;
  border-radius: 3px;
  background-color:#FFF;
}
.tab-menu-container{
  position:relative;
  height:57px;
	
  padding: 10px;
}
.tab-menu{

  border: 2px solid rgba(205,0,0,1);
  border-radius: 18px;
  overflow:hidden;

  display: flex;
  flex-direction: row;
}

.tab-menu li{
  display: inline-block;
  text-align: center;
  color: rgba(205,0,0,1);
  font-weight: bold;
  width:50%;
	
  padding:5px;
  cursor:pointer;
}
.tab-menu li.active{
  color: white;
  background-color:rgba(205,0,0,1);
}

.list-container{
    min-height: 100px;
}
.search-area{
    position:relative;
    width:auto;
    height: 67px;
    border-bottom: 1px solid #FABCB3;
}
.search-icon{
    position:absolute;
    top:23;
    left:34;
}
.search-bar{
    width:87%;
    margin:6%;
    border-radius:15px;
    border:1px solid #FFCCCC;
    padding:4px;
    padding-left:40px;
}
.channellist{
    padding:10px;   
}

.channellist li{
    position: relative;
    text-align: left;  
    display:block;
    padding:10px;
    cursor: pointer;
}
.avatar{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.playing {
    position: absolute;
    padding-left: 10px;
    bottom:12px;
}
.username {
    position: absolute;
    padding-left: 10px;
    line-height: 50px;
    color: #F47564;
}
.onOff {
    position: absolute;
    right:20;
    line-height: 50px;
    color: #F47564;
    display: inline-block;
}