<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Latest News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.5/angular-moment.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="filters.js"></script>
</head>
<body data-ng-app="art-vid-list">
    <article data-ng-controller="MainCtrl">
      <div class="list-container">
		  <div class="list">
				  <div data-ng-repeat="item in storage.articlesANDvideos" class="list-element">
				  	  <div class="time-n-title">
						<div id="red-line"></div>
					  	<div class="title-grey" title="{{ item.metadata.publishDate | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}" am-time-ago="item.metadata.publishDate"></div>
					  	<div class="title-bold" data-ng-if="isArticle(item)">{{item.metadata.headline | truncate:60}}</div>
					  	<div class="title-bold" data-ng-if="!isArticle(item)">{{item.metadata.name | truncate:60}}</div>
					  </div>
					  <a data-ng-href="#">
						  <div class="background-pic" data-ng-style="listBkgrd(item)">
							  <img data-ng-src="{{item.thumbnail}}">

						  </div>
					  </a>
				  </div>
          </div>
      </div>
    </article>
</body>
</html>