<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Play Palace</title>
	<meta name="description" content="Free Palace Card Game">
	<meta name="keywords" content="free, card game, palace, game, cards">
	<meta name="author" content="Victor Tang">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body data-ng-app="palace-game">
    <div id="playing-field" data-ng-controller="MainCtrl">
		<div id="whose-turn" data-ng-style="showDeck()">{{currentPlayerName}}'s Turn</div>
		<div class="vert-centered" id="center-area">
			<div class="vert-centered" data-ng-style="showMenu()">
				<h1>Palace</h1><div data-ng-click="startGame()" class="btn">Play</div><div class="btn">How to Play</div>
			</div>
			<div class="vert-centered" data-ng-style="showDeck()">
				<div id="pile"></div>
				<div id="deck"><div class="card" id="mock-card1"></div><div class="card" id="mock-card2"></div></div>
			</div>			
		</div>
		<div class="player-area" id="player1-area" data-ng-style="showPlayer(player1)">
			<div class="secret-palace">
					<div data-ng-repeat="card in player1.sec_palace" data-ng-if="isHidden(card)" class="card flipped-card"></div>
					<div data-ng-repeat="card in player1.sec_palace" data-ng-if="!isHidden(card)" class="card">
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
						<div class="vert-centered center-stuff">
							<div class="vert-centered">
								<div class="card-suit" data-ng-repeat="i in getNum(card.value) track by $index" data-ng-style="getSuit(card.suit)"></div>
								<div class="card-face" data-ng-style="getFace(card.suit,card.value)" data-ng-if="isFace(card.value)"></div>
							</div>
						</div>
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
					</div>
			</div>
			<div class="upper-palace">
					<div data-ng-repeat="card in player1.upp_palace" class="card">
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
						<div class="vert-centered center-stuff">
							<div class="vert-centered">
								<div class="card-suit" data-ng-repeat="i in getNum(card.value) track by $index" data-ng-style="getSuit(card.suit)"></div>
								<div class="card-face" data-ng-style="getFace(card.suit,card.value)" data-ng-if="isFace(card.value)"></div>
							</div>
						</div>
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
					</div>
			</div>
			<span>Player 1</span>
		</div>
		<div class="player-area" id="player2-area" data-ng-style="showPlayer(player2)">
			<div class="secret-palace">
					<div data-ng-repeat="card in player2.sec_palace" data-ng-if="isHidden(card)" class="card flipped-card"></div>
					<div data-ng-repeat="card in player2.sec_palace" data-ng-if="!isHidden(card)" class="card">
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
						<div class="vert-centered center-stuff">
							<div class="vert-centered">
								<div class="card-suit" data-ng-repeat="i in getNum(card.value) track by $index" data-ng-style="getSuit(card.suit)"></div>
								<div class="card-face" data-ng-style="getFace(card.suit,card.value)" data-ng-if="isFace(card.value)"></div>
							</div>
						</div>
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
					</div>
			</div>
			<div class="upper-palace">
					<div data-ng-repeat="card in player2.upp_palace" class="card">
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
						<div class="vert-centered center-stuff">
							<div class="vert-centered">
								<div class="card-suit" data-ng-repeat="i in getNum(card.value) track by $index" data-ng-style="getSuit(card.suit)"></div>
								<div class="card-face" data-ng-style="getFace(card.suit,card.value)" data-ng-if="isFace(card.value)"></div>
							</div>
						</div>
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
					</div>
			</div>
			<span>Player 2</span>
		</div>
		<div class="player-area" id="player3-area" data-ng-style="showPlayer(player3)">
			<div class="secret-palace">
				  	<div data-ng-repeat="card in player3.sec_palace" data-ng-if="isHidden(card)" class="card flipped-card"></div>
					<div data-ng-repeat="card in player3.sec_palace" data-ng-if="!isHidden(card)" class="card">
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
						<div class="vert-centered center-stuff">
							<div class="vert-centered">
								<div class="card-suit" data-ng-repeat="i in getNum(card.value) track by $index" data-ng-style="getSuit(card.suit)"></div>
								<div class="card-face" data-ng-style="getFace(card.suit,card.value)" data-ng-if="isFace(card.value)"></div>
							</div>
						</div>
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
					</div>
			</div>
			<div class="upper-palace">
					<div data-ng-repeat="card in player3.upp_palace" class="card">
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
						<div class="vert-centered center-stuff">
							<div class="vert-centered">
								<div class="card-suit" data-ng-repeat="i in getNum(card.value) track by $index" data-ng-style="getSuit(card.suit)"></div>
								<div class="card-face" data-ng-style="getFace(card.suit,card.value)" data-ng-if="isFace(card.value)"></div>
							</div>
						</div>
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
					</div>
			</div>
			<span>Player 3</span>
		</div>
		<div class="player-area" id="player4-area" data-ng-style="showPlayer(player4)">
			<div class="secret-palace">
					<div data-ng-repeat="card in player4.sec_palace" data-ng-if="isHidden(card)" class="card flipped-card"></div>
					<div data-ng-repeat="card in player4.sec_palace" data-ng-if="!isHidden(card)" class="card">
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
						<div class="vert-centered center-stuff">
							<div class="vert-centered">
								<div class="card-suit" data-ng-repeat="i in getNum(card.value) track by $index" data-ng-style="getSuit(card.suit)"></div>
								<div class="card-face" data-ng-style="getFace(card.suit,card.value)" data-ng-if="isFace(card.value)"></div>
							</div>
						</div>
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
					</div>
			</div>
			<div class="upper-palace">
					<div data-ng-repeat="card in player4.upp_palace" class="card">
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
						<div class="vert-centered center-stuff">
							<div class="vert-centered">
								<div class="card-suit" data-ng-repeat="i in getNum(card.value) track by $index" data-ng-style="getSuit(card.suit)"></div>
								<div class="card-face" data-ng-style="getFace(card.suit,card.value)" data-ng-if="isFace(card.value)"></div>
							</div>
						</div>
						<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
					</div>
			</div>
			<span>Player 4</span>
		</div>
		<div id="player-hand"></div>
    </div>
</body>
</html>


<!-- CARD TEMPLATE

		<div class="card">
			<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
			<div class="vert-centered center-stuff">
				<div class="vert-centered">
					<div class="card-suit" data-ng-repeat="i in getNum(card.value) track by $index" data-ng-style="getSuit(card.suit)"></div>
					<div class="card-face" data-ng-style="getFace(card.suit,card.value)" data-ng-if="isFace(card.value)"></div>
				</div>
			</div>
			<div><div class="card-value" data-ng-style="color(card.suit)">{{JQK(card.value)}}</div><div class="card-suit" data-ng-style="getSuit(card.suit)"></div></div>
		</div>


-->