*{
    box-sizing: border-box;/*reset page*/
}
a{
	color:inherit;
	text-decoration: none;
}
body {
	margin: 0;/*reset page*/
	text-transform: uppercase;
	font-family: "Arial Rounded MT Bold", "Arial";
	overflow: hidden;
}
#playing-field{
	position: absolute;
	width:100%;
	height:100vh;
	background-image: url(http://res.cloudinary.com/dmj8qtant/image/upload/v1459018757/parts/palacebg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.vert-centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Cards */
.card{
	transition: translate 0.5s ease;
	
	position: relative;
	height:300px;
	width:200px;
	background:#fff;
	border-radius: 5px;
	padding:10px;
	margin:10px;

	display: flex;
	flex-direction: column;
}
/* upper half of card */
.card > div:first-child{
}
/* the middle part of card */
.center-stuff{
	height:80%;
	width:100px;
}
/* center smaller numbers of stuff */
.center-stuff > div{
	width:100%;
	display: flex;
	flex-wrap: wrap;
}
/* make singletons centered */
.center-stuff .card-suit{
	margin: auto;
}
/* lower half of card */
.card > div:last-child{
	position: absolute;
	bottom:10px;
	right:10px;
	transform: rotateZ(180deg)
}
/* number font, default black */
.card-value{
	width: 48px;
	text-align: center;
	font-size: 2em;
	color:#222;
}
/* base pic is 48 x 48 */
.card-suit{
	background-repeat: no-repeat;
	height:48px;
	width: 48px;
}
.card-face{
	width: 100px;
	height:160px;
	opacity:0.8;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
/*              */

/* center area */
#whose-turn{
	transition: all 0.5s ease;
	font-size: 2em;
	opacity: 0.9;
	text-align: center;
}
#center-area, #whose-turn, .player-area{
	color:gold;
}
#center-area > div{
	transition: all 0.2s ease;
}
#center-area > div:last-child{
	display: flex;
	flex-direction: row;
}
.btn{
	transition: all 0.5s ease;
	border: 1px solid #dce;
	padding:10px;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
}
.btn:hover{
 	box-shadow: 0px 0px 10px rgba(200,200,200,0.5);
 	text-shadow: 0px 0px 10px rgba(200,200,100,0.5);
}
/* shows on no card */
#pile, #deck{
	position: relative;
	height:300px;
	width:200px;
	background:rgba(50,50,50,0.5);
	border-radius: 5px;
	padding:10px;
	margin:10px;
	border: 1px solid #dce;
}
/* deck placeholder positioning */
#deck > div {
	position: absolute;
	left:-1px;
	top:-1px;
	margin: 0;
}
/* card behind */
#deck > div , .flipped-card {
	background-image: url(img/rose.svg);
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	background-color:#4a4;
	border:20px solid #255525;
}
/* playing area */
.player-area, .btn{
	border-radius:10px;
	background-color: rgba(50,50,50,0.5);
}
.player-area{
	transition: all 0.5s ease;
	position: absolute;
	min-width:25%;
	min-height:25%;
}
.player-area span{
	font-size: 2em;
	opacity:0.5;
	position: absolute;
}
#player1-area{
	top:0;
	left:0;
	padding-bottom: 10px;
	border-right:1px solid gold;
	border-bottom:1px solid gold;
}
#player2-area{
	top:0;
	right:0;
	padding-bottom: 10px;
	border-left:1px solid gold;
	border-bottom:1px solid gold;
}
#player3-area{
	right:0;
	bottom:0;
	border-left:1px solid gold;
	border-top:1px solid gold;
}
#player4-area{
	left:0;
	bottom:0;
	border-right:1px solid gold;
	border-top:1px solid gold;
}
#player1-area span{
	bottom:-1.25em;
	left:0;
}
#player2-area span{
	bottom:-1.25em;
	right:0;
}
#player3-area span{
	top:-1.25em;
	right:0;
}
#player4-area span{
	top:-1.25em;
	left:0;
}
.secret-palace, .upper-palace {
	display: flex;
	flex-direction: row;
}
.upper-palace{
	position: absolute;
	top:10px;
	left:10px;
	z-index:5;
}
.upper-palace .card{
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}
/* hand */
#player-hand{
	position: fixed;
	bottom:0;
	left:50%;
	transform: translateX(-50%);
	z-index: 99;
	
	display: flex;
	flex-direction: row;
}
#player-hand #bg{
	position: absolute;
	width:100%;
	height:100%;
	background-color: #000;
	filter: blur(25px);
	opacity: 0.5;
}